body {
  background: cornsilk;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(240, 148, 11);
  display: block;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  border-radius: 10px;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
  color: rgb(240, 148, 11);
  padding: 15px;
}
.currentWeather {
  background: rgba(240, 206, 11, 0.24);
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
}

.city {
  font-weight: bolder;
  text-align: left;
  font-size: 24px;
  height: 27.7778px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.897);
}

h1 {
  text-align: center;
  font-weight: lighter;
}

h2,
h3,
h4 {
  text-align: left;
  font-size: 24px;
  font-weight: 150;
  height: 26px;
  line-height: 28px;
  margin-top: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}

img {
  display: center;
}

.search-city-weather {
  border: 1px solid rgb(53, 54, 53);
  background: rgb(255, 255, 253);
  margin: 10px auto;
  padding: 10px;
  width: 500px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.897);
  transition: all 150ms ease-in-out;
}

.search-button,
.currentlocationbtn {
  background-color: #ffd905;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 9px 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: rgba(223, 160, 43, 0.774);
}

.currentlocationbtn:hover {
  background-color: rgba(223, 160, 43, 0.774);
}
form {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 15px;
  display: block;
}

.form-control {
  display: block;
  margin: 0 auto;
  font-size: 10px;
  border: solid 1px #548ca8;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: orangered;
  cursor: default;
  text-decoration: none;
}

strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 1;
  font-weight: lighter;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temp {
}

.weather-forecast-temp-max {
  font-weight: bolder;
}

.weather-forecast-temp-min {
  font-size: 14px;
}
